body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* global selector */
.App {
  width: auto;
  height: auto;
}
header {
  border: 1px solid red;
  height: 10vh;
  width: 100%;
  margin: 0;
  padding: 1% 3%;
}
aside,
main {
  height: auto;
}
aside {
  width: 10%;
}
main {
  width: 90%;
}
